body {
    font-family: 'Crimson Text', serif;
}

li {
    list-style: none;
    line-height: 30px;
}

.icon_position {
    margin-top: -20px;
}

.my_line_decoration {
    text-decoration-line: line-through;
}

.my_none_decoration {
    text-decoration-line: none;
}